operadores aritméticos

In [1]:
# adição
10 + 2 # # Meu primeiro teste de adição: 10 mais 2 resulta em 12

12

In [2]:
# subtração
10 - 2 # Testando a subtração: 10 menos 2 é igual a 8

8

In [3]:
# Multiplicação
10 * 2 # Multiplicação simples: 10 vezes 2 dá 20

20

In [4]:
# divisão
10/2 # Divisão "normal": 10 dividido por 2, o resultado é um float (5.0)

5.0

In [5]:
# divisão inteira
10//2 # Divisão inteira (floor division): 10 por 2, o resultado é a parte inteira (5)

5

In [6]:
# resto da divisão
10 % 2 # Módulo ou resto: 10 dividido por 2 não deixa resto, então o resultado é 0

0

In [7]:
# potenciação
10**2 # Potenciação: 10 elevado a 2 (10 * 10), o resultado é 100

100

# Operadores Relacionais

In [8]:
# Menor
10 < 2 # Estou comparando se 10 é menor que 2. Isso é False

False

In [9]:
# menor ou igual
10 <= 2 # Comparando se 10 é menor ou igual a 2. Isso também é False

False

In [10]:
# Maior
10 > 2 # Comparando se 10 é maior que 2. Isso é True

True

In [11]:
# maior ou igual
10>=2 # Comparando se 10 é maior ou igual a 2. Isso é True

True

In [12]:
# igual
7 == 7 # Verificando se 7 é igual a 7. Isso é True

True

In [13]:
# diferente
7 != 7 # Verificando se 7 é diferente de 7. Isso é False

False

# Operadores Lógicos

- And = O operador "E" lógico. Só retorna True se AMBAS as condições forem True

-Or = O operador "OU" lógico. Retorna True se PELO MENOS UMA condição for True

-Not = O operador "NÃO" lógico. Inverte o valor booleano (True vira False e vice-versa)

# Tabela Verdade

And

In [14]:
print (10 > 2 and 4 < 6) # V and V - V. 10>2 é True E 4<6 é True. O resultado é True
print (10 > 2 and 4 > 6) # V and F - F. 10>2 é True E 4>6 é False. Pelo menos um False, o resultado é False
print (10 < 2 and 4 < 6) # F and V - F. 10<2 é False E 4<6 é True. Pelo menos um False, o resultado é False
print (10 < 2 and 4 > 6) # F and F - F. 10<2 é False E 4>6 é False. O resultado é False

True
False
False
False

Or

In [15]:
print (10 > 2 or 4 < 6) # V or V - V. 10>2 é True OU 4<6 é True. O resultado é True
print (10 > 2 or 4 > 6) # V or F - V. 10>2 é True OU 4>6 é False. Como um é True, o resultado é True
print (10 < 2 or 4 < 6) # F or V - V. 10<2 é False OU 4<6 é True. Como um é True, o resultado é True
print (10 < 2 or 4 > 6) # F or F - F. 10<2 é False OU 4>6 é False. O resultado é False

True
True
True
False

# Not

In [16]:
not 10 > 2    # V- F. 10>2 é True, o 'not' inverte para False

False

In [17]:
not 10 < 2      # F - V. 10<2 é False, o 'not' inverte para True

True