## visualização de variáveis e textos

In [1]:
print("conhecendo o comando Print")

x = 8 # Cria a variável 'x' e atribui o valor inteiro 8 a ela
print(x) # Exibe o valor atual armazenado na variável 'x', que é 8

conhecendo o comando Print
8

In [2]:
y = 10 # Cria a variável 'y' e atribui o valor inteiro 10 a ela
soma = x + y # Cria a variável 'soma' e atribui o resultado da adição de x (8) e y (10), que é 18
print(soma) # Exibe o valor atual da variável 'soma', que é 18

18

In [3]:
nome = "rodrigo rebouças" # Cria a variável 'nome' e atribui a string (texto) "rodrigo rebouças" a ela
print(nome) # Exibe o conteúdo da variável 'nome'

rodrigo rebouças

# Concatenação

In [4]:
x = 5 # Reatribui o valor 5 à variável 'x'
print("o valor de X é", x) # Concatena a string "o valor de X é" com o valor de x (5)

o valor de X é 5

In [5]:
print("o valor de x é ", x, "e o dobro de x é", x * 2) # Concatenação complexa: exibe o valor de x (5) e o resultado da operação x * 2 (10).

o valor de x é  5 e o dobro de x é 10

In [6]:
print("eu", nome, "tirei", x, "na prova de python") # Usando a variável 'nome' e o novo valor de 'x' para formar uma frase completa

eu rodrigo rebouças tirei 5 na prova de python

In [7]:
y = 10; z = 20 + x - y # Declarando variáveis na mesma linha: y=10 e z=20+5-10, resultando em z=15
print("declarar variáveis na mesma linha:",y,z) # Exibe o valor de y (10) e z (15)

declarar variáveis na mesma linha: 10 15

# Type

In [8]:
x = 10 # Variável 'x' com um valor inteiro
type(x) # Chamo a função 'type' para ver o tipo de x. O resultado seria <class 'int'>.
print('x', type(x)) # Exibo o tipo de x: <class 'int'>

nome = 'rodrigo' # Variável 'nome' com uma string (texto)
print("nome", type(nome)) # Exibo o tipo de nome: <class 'str'>

num = '100' # Variável 'num' com um texto que parece um número. O tipo é string (<class 'str'>)
num_convert = int(num)  # Converter variável: uso a função int() para transformar a string '100' no número inteiro 100
print('num', type(num)) # O tipo original de 'num' continua sendo string (<class 'str'>)
print('num_conver', type(num_convert)) # O tipo de 'num_convert' é inteiro (<class 'int'>)

num_float = float(num) # Uso a função float() para converter a string '100' no número decimal 100.0
print('num_float', num_float) # Exibo o valor de num_float, que agora é 100.0

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_conver <class 'int'>
num_float 100.0

# **Input

- Armazenar a informação digitada pelo usuário em uma variável
- o dado armazenado sempre será um texto

In [9]:
nome = input("digite o nome do usuário:") # Pausa e exibe a mensagem. O que o usuário digitar é guardado como string na variável 'nome'
print(nome) # Exibe o nome que o usuário digitou

digite o nome do usuário:Rafael
Rafael

In [10]:
valor = input("digite a nota") # Solicita a nota, que é armazenada como string (ex: '10')
print(nome, "sua nota foi", valor) # Exibe a nota digitada (ainda como string)

digite a nota10
Rafael sua nota foi 10

In [11]:
valor = input("digite o valor do produto:") # Solicita o valor do produto, armazenado como string (ex: '150')
print(valor) # Exibe o valor do produto

digite o valor do produto:150
150

In [12]:
valor_convert = int(valor) # CONVERSÃO NECESSÁRIA! Transforma a string de 'valor' (ex: '150') no inteiro 150 para poder fazer cálculos
desconto =  valor_convert - 5 # Calcula o desconto: 150 - 5 = 145
print(desconto) # Exibe o resultado do cálculo (145)

145

In [13]:
desconto = int(valor) - 5 # Faço o mesmo cálculo, mas a conversão (int(valor)) é feita diretamente na linha da operação
print(desconto) # Exibe o resultado do cálculo (145)

145